<div class="container2">
	<h3 style="margin-left: 10px;">
		Gift Cards
	</h3>
	<hr style="margin-left: 10px;">
	<!-- <div style="border: 1px solid red;height: 79%;width: 45%;">
		<div style="height: 80%;position: relative;left: 12%;top: 10%;">
			<img src="../../assets/gift_cards.png" alt="">
		</div>
	</div> -->
</div>
<!-- <div style="border: 1px solid red;width: 33%;position: relative;left: 52%;bottom: 260px;height: 330px;">
	<b>Give the gift of time!</b>
</div> -->

<!-- <table style="position: relative;border: 1px solid red;left: 25%;width: 26%;bottom: 280px;"> -->
	<table style="position: relative;left: 25%;bottom: 350px;">
	<tbody>
		<tr>
			<td style="position: relative;left: 10px;">
					<!-- <div style="height: 80%;position: relative;left: 12%;top: 10%;"> -->
						<div>
							<img style="height: 300px;" src="../../assets/gift_cards.png" alt="">
						</div>	
			</td>
			<td style="width: 400px;left: 80px;position: relative;">
			 <b>Give the gift of time!</b>
			 <p>Now you can purchase TaskRabbit Gift Cards to share with friends, family, and coworkers.</p>
			 <div style="width: 60%;" class="form-group">
					<label for="exampleInputEmail1">Gift Card Value</label>
					<input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter current password:">
					<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
					<div style="margin-top: 10px">
							<button style="height: 40px;width: 35%;" type="button" class="btn btn-default">Cancel</button>
							<span style="margin-right:10px"></span>
							<button style="height: 40px;width: 35%;" type="button" class="btn btn-success">Purchase</button>
					</div>
				</div>
				<p>	
						Give the gift of time!
						Now you can purchase TaskRabbit Gift Cards to share with friends, family, and coworkers.
						
						Gift Card Value
						
						20
						CancelPurchase
						We will charge the credit card on file for the value of the Gift Card at time of purchase. Purchased Gift Cards will be delivered as a PDF to your <a style="color : green"> email address</a>.</p>
					<p>	
						When the recipient books and completes tasks, their gift card balance will be deducted from the labor cost of those tasks until the Gift Card balance is fulfilled. Gift Card balances cannot be used for reimbursements. Other fees may apply. TaskRabbit is only available in certain <a style="color : green"> locations </a> and not nationwide.</p>
			</td>	
		</tr>
	</tbody>
</table>