<div class="container2">
	<h3 class="account-balance-title">
		<span>Account Balance</span>
	</h3>
	<div class="form">
		<p style="margin: 0 0 2.5rem 0;">
			<strong>
				<span>Available account balance:</span>
			</strong> $0
		</p>
		<p style="color: #545e69;margin: 0 0 50px;">
			<span>*Account balances are automatically applied when a task is completed.</span>
		</p>
		<form>
			<div style="margin-bottom: 25px;" class="form-group">
				<label class="input-label" for="exampleInputEmail1">Enter a redemption code:</label>
				<input style="    height: 45px;" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
			</div>
			<div>
					<button style="height: 50px;width: 25%;font-size: 2rem;" type="button" class="btn btn-success">Apply</button>
			</div>
		</form>
	</div>

</div>