<div class="container2">

	<h3 style="margin-left: 10px;">
		Edit Billing Info
	</h3>
	<hr style="margin-left: 10px;">

	<form style="margin-left: 10px;">
		<div style="width: 60%;" class="form-group">
			<label for="exampleInputEmail1">Enter current password:</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter current password:">
			<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		</div>
		<div>
			<label style="display : block"><div>Expiration Date</div></label>
			<div style="display : inline-block" class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
				  Month
				  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a>Month</a></li>
					<li><a>1</a></li>
					<li><a>2</a></li>
					<li><a>3</a></li>
					<li><a>4</a></li>
					<li><a>5</a></li>
					<li><a>6</a></li>
					<li><a>7</a></li>
					<li><a>8</a></li>
					<li><a>9</a></li>
					<li><a>10</a></li>
					<li><a>11</a></li>
					<li><a>12</a></li>
				</ul>
			</div>
			<span>/</span>
			<div style="display : inline-block" class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
					  Year
					  <span class="caret"></span>
					</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a>Year</a></li>
					<li><a>2017</a></li>
					<li><a>2018</a></li>
					<li><a>2019</a></li>
					<li><a>2020</a></li>
					<li><a>2021</a></li>
					<li><a>2022</a></li>
					<li><a>2023</a></li>
					<li><a>2024</a></li>
					<li><a>2025</a></li>
					<li><a>2026</a></li>
					<li><a>2027</a></li>
					<li><a>2028</a></li>
					<li><a>2029</a></li>
					<li><a>2030</a></li>
					<li><a>2031</a></li>
					<li><a>2032</a></li>
					<li><a>2033</a></li>
					<li><a>2034</a></li>
					<li><a>2035</a></li>
					<li><a>2036</a></li>
					<li><a>2037</a></li>
				</ul>
			</div>
		</div>
		<div style="width: 60%;" class="form-group">
			<label for="exampleInputEmail1">Security Code</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter current password:">
			<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		</div>
		<div style="width: 60%;" class="form-group">
			<label for="exampleInputEmail1">Postal Code</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter current password:">
			<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		</div>
		<div>
			<button style="height: 40px;width: 17%;" type="button" class="btn btn-default">Cancel</button>
			<span style="margin-right:10px"></span>
			<button style="height: 40px;width: 17%;" type="button" class="btn btn-success">Save</button>
		</div>

	</form>
</div>