<h1 style="text-align : center">
		Account
		<button type="button" style="float : right" class="btn btn-success btn-inverse">Edit</button>
</h1>
<hr>
<!-- <div >	
<img style="border-radius: 100px;
height: 150px;" src="../../assets/default.jpg" alt="">  
</div>
<div style="float : left">
	hello</div>  -->


	<div class="container">
			<div class="row">
			  <div class="col-md-6" style="width: 15%;">
					<img style="border-radius: 100px;
					height: 150px;" src="../../assets/default.jpg" alt="">  
					<div style="margin-bottom:35px"></div>
			  </div>
			  <!-- username -->
			  <div class="col-md-6 text-right" style="width: 40%;">
					
				<i style="float:left" class="material-icons">person</i>
			    
				<span style="float:left">Tahir Mukhtar</span>
				<div style="margin-bottom:35px"></div>
			  </div>
			  <!-- email -->
			  <div class="col-md-6 text-right" style="width: 40%;">
					
				<i style="float:left" class="material-icons">email</i>
			    
				<span style="float:left">tahirmukhtar.on@gmail.com</span>
				<div style="margin-top:35px"></div>
			  </div>
			  <!-- location -->
			  <div class="col-md-6 text-right" style="width: 40%;">
					
				<i style="float:left" class="material-icons">location_on</i>
			    
				<span style="float:left">74700</span>
			  </div>
			</div>
		  </div>
		  