
.btn-success.btn-inverse {
	color: #5cb85c;
	background-color: #fff;
	border-color: #5cb85c;
  }
  .btn-success.btn-inverse:focus, .btn-success.btn-inverse.focus {
	color: #5cb85c;
	background-color: #e6e6e6;
	border-color: #2d672d;
  }
  .btn-success.btn-inverse:hover {
	color: #5cb85c;
	background-color: #e6e6e6;
	border-color: #419641;
  }
  .btn-success.btn-inverse:active, .btn-success.btn-inverse.active, .open > .btn-success.btn-inverse.dropdown-toggle {
	color: #5cb85c;
	background-color: #e6e6e6;
	border-color: #419641;
  }
  .btn-success.btn-inverse:active:hover, .btn-success.btn-inverse:active:focus, .btn-success.btn-inverse:active.focus, .btn-success.btn-inverse.active:hover, .btn-success.btn-inverse.active:focus, .btn-success.btn-inverse.active.focus, .open > .btn-success.btn-inverse.dropdown-toggle:hover, .open > .btn-success.btn-inverse.dropdown-toggle:focus, .open > .btn-success.btn-inverse.dropdown-toggle.focus {
	color: #5cb85c;
	background-color: #d4d4d4;
	border-color: #2d672d;
  }
  .btn-success.btn-inverse:active, .btn-success.btn-inverse.active, .open > .btn-success.btn-inverse.dropdown-toggle {
	background-image: none;
  }
  .btn-success.btn-inverse.disabled:hover, .btn-success.btn-inverse.disabled:focus, .btn-success.btn-inverse.disabled.focus, .btn-success.btn-inverse[disabled]:hover, .btn-success.btn-inverse[disabled]:focus, .btn-success.btn-inverse[disabled].focus, fieldset[disabled] .btn-success.btn-inverse:hover, fieldset[disabled] .btn-success.btn-inverse:focus, fieldset[disabled] .btn-success.btn-inverse.focus {
	background-color: #fff;
	border-color: #5cb85c;
  }
  .btn-success.btn-inverse .badge {
	color: #fff;
	background-color: #5cb85c;
  }
  .btn-success.btn-inverse:hover {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
  }
  .btn-success.btn-inverse:hover:focus, .btn-success.btn-inverse:hover.focus {
	color: #fff;
	background-color: #449d44;
	border-color: #255625;
  }
  .btn-success.btn-inverse:hover:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
  }
  .btn-success.btn-inverse:hover:active, .btn-success.btn-inverse:hover.active, .open > .btn-success.btn-inverse:hover.dropdown-toggle {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
  }
  .btn-success.btn-inverse:hover:active:hover, .btn-success.btn-inverse:hover:active:focus, .btn-success.btn-inverse:hover:active.focus, .btn-success.btn-inverse:hover.active:hover, .btn-success.btn-inverse:hover.active:focus, .btn-success.btn-inverse:hover.active.focus, .open > .btn-success.btn-inverse:hover.dropdown-toggle:hover, .open > .btn-success.btn-inverse:hover.dropdown-toggle:focus, .open > .btn-success.btn-inverse:hover.dropdown-toggle.focus {
	color: #fff;
	background-color: #398439;
	border-color: #255625;
  }
  .btn-success.btn-inverse:hover:active, .btn-success.btn-inverse:hover.active, .open > .btn-success.btn-inverse:hover.dropdown-toggle {
	background-image: none;
  }
  .btn-success.btn-inverse:hover.disabled:hover, .btn-success.btn-inverse:hover.disabled:focus, .btn-success.btn-inverse:hover.disabled.focus, .btn-success.btn-inverse:hover[disabled]:hover, .btn-success.btn-inverse:hover[disabled]:focus, .btn-success.btn-inverse:hover[disabled].focus, fieldset[disabled] .btn-success.btn-inverse:hover:hover, fieldset[disabled] .btn-success.btn-inverse:hover:focus, fieldset[disabled] .btn-success.btn-inverse:hover.focus {
	background-color: #5cb85c;
	border-color: #4cae4c;
  }
  .btn-success.btn-inverse:hover .badge {
	color: #5cb85c;
	background-color: #fff;
  }
  .btn-success.btn-transparent {
	color: #5cb85c;
	background-color: transparent;
	border-color: #5cb85c;
  }
  .btn-success.btn-transparent:focus, .btn-success.btn-transparent.focus {
	color: #5cb85c;
	background-color: transparent;
	border-color: #2d672d;
  }
  .btn-success.btn-transparent:hover {
	color: #5cb85c;
	background-color: transparent;
	border-color: #419641;
  }
  .btn-success.btn-transparent:active, .btn-success.btn-transparent.active, .open > .btn-success.btn-transparent.dropdown-toggle {
	color: #5cb85c;
	background-color: transparent;
	border-color: #419641;
  }
  .btn-success.btn-transparent:active:hover, .btn-success.btn-transparent:active:focus, .btn-success.btn-transparent:active.focus, .btn-success.btn-transparent.active:hover, .btn-success.btn-transparent.active:focus, .btn-success.btn-transparent.active.focus, .open > .btn-success.btn-transparent.dropdown-toggle:hover, .open > .btn-success.btn-transparent.dropdown-toggle:focus, .open > .btn-success.btn-transparent.dropdown-toggle.focus {
	color: #5cb85c;
	background-color: transparent;
	border-color: #2d672d;
  }
  .btn-success.btn-transparent:active, .btn-success.btn-transparent.active, .open > .btn-success.btn-transparent.dropdown-toggle {
	background-image: none;
  }
  .btn-success.btn-transparent.disabled:hover, .btn-success.btn-transparent.disabled:focus, .btn-success.btn-transparent.disabled.focus, .btn-success.btn-transparent[disabled]:hover, .btn-success.btn-transparent[disabled]:focus, .btn-success.btn-transparent[disabled].focus, fieldset[disabled] .btn-success.btn-transparent:hover, fieldset[disabled] .btn-success.btn-transparent:focus, fieldset[disabled] .btn-success.btn-transparent.focus {
	background-color: transparent;
	border-color: #5cb85c;
  }
  .btn-success.btn-transparent .badge {
	color: transparent;
	background-color: #5cb85c;
  }
  .btn-success.btn-transparent:hover {
	color: #5cb85c;
	background-color: #2d672d;
	border-color: #5cb85c;
  }
  .btn-success.btn-transparent:hover:focus, .btn-success.btn-transparent:hover.focus {
	color: #5cb85c;
	background-color: #1e441e;
	border-color: #2d672d;
  }
  .btn-success.btn-transparent:hover:hover {
	color: #5cb85c;
	background-color: #1e441e;
	border-color: #419641;
  }
  .btn-success.btn-transparent:hover:active, .btn-success.btn-transparent:hover.active, .open > .btn-success.btn-transparent:hover.dropdown-toggle {
	color: #5cb85c;
	background-color: #1e441e;
	border-color: #419641;
  }
  .btn-success.btn-transparent:hover:active:hover, .btn-success.btn-transparent:hover:active:focus, .btn-success.btn-transparent:hover:active.focus, .btn-success.btn-transparent:hover.active:hover, .btn-success.btn-transparent:hover.active:focus, .btn-success.btn-transparent:hover.active.focus, .open > .btn-success.btn-transparent:hover.dropdown-toggle:hover, .open > .btn-success.btn-transparent:hover.dropdown-toggle:focus, .open > .btn-success.btn-transparent:hover.dropdown-toggle.focus {
	color: #5cb85c;
	background-color: #132b13;
	border-color: #2d672d;
  }
  .btn-success.btn-transparent:hover:active, .btn-success.btn-transparent:hover.active, .open > .btn-success.btn-transparent:hover.dropdown-toggle {
	background-image: none;
  }
  .btn-success.btn-transparent:hover.disabled:hover, .btn-success.btn-transparent:hover.disabled:focus, .btn-success.btn-transparent:hover.disabled.focus, .btn-success.btn-transparent:hover[disabled]:hover, .btn-success.btn-transparent:hover[disabled]:focus, .btn-success.btn-transparent:hover[disabled].focus, fieldset[disabled] .btn-success.btn-transparent:hover:hover, fieldset[disabled] .btn-success.btn-transparent:hover:focus, fieldset[disabled] .btn-success.btn-transparent:hover.focus {
	background-color: #2d672d;
	border-color: #5cb85c;
  }
  .btn-success.btn-transparent:hover .badge {
	color: #2d672d;
	background-color: #5cb85c;
  }