.transactions-title{
    margin-left: 15px;
    border-bottom: 1px solid #dce0e6;
    margin-bottom: 1em;
    font-weight: 600;
}
.transactions-link{
    
    color: #438e29;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
}
a:hover{
    color:#1f6507
}
.paragraph{
    text-align:center;color:#546377
}