<div class="container2">

	<!-- <h4><b> Cancel a Task</b></h4> -->
	<h3 class="canel-title">
		<span>Cancel a Task</span>
	</h3>

	<div class="div-para">
		<p class="para">
			<span class="para-child">
					To cancel a task, go to your dashboard and select the circle with three dots in the upper right corner of the task card. This will reveal the 'Cancel Task' button. Select 'Cancel Task' to cancel all appointments for that task.
			</span>
		</p>
	</div>
	<div class="div-image">
		<img class="cancel-image" src="../../assets/cancel_task.png" alt="">
	</div>
	<div class="link-div">
		<a href="" class="dashboard-link">Go To Dashboard</a>
	</div>
</div>