/* You can add global styles to this file, and also import other style files */
.container2{
	border: 0.5px solid #DCDFE5;
    width: 60%;
    margin-left: 25%;
    position: relative;
    top: 80px;
    height: 430px;
}