
	
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li class="active"><a routerLink="/" data-target-id="home"><i  class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a [routerLink]="['password']" data-target-id="widgets"><i class="fa fa-list-alt fa-fw"></i>Password</a></li>
                <li><a [routerLink]="['app-profile']" data-target-id="pages"><i class="fa fa-file-o fa-fw"></i>Notifications</a></li>
                <li><a [routerLink]="['app-billing-info']" data-target-id="charts"><i class="fa fa-bar-chart-o fa-fw"></i>Billing Info</a></li>
                <li><a [routerLink]="['app-gift-cards']" data-target-id="table"><i class="fa fa-table fa-fw"></i>Gift Cards</a></li>
                <li><a [routerLink]="['app-cancel-task']" data-target-id="forms"><i class="fa fa-tasks fa-fw"></i>Cancel A Task</a></li>
                <li><a [routerLink]="['app-account-balance']" data-target-id="calender"><i class="fa fa-calendar fa-fw"></i>Account Balance</a></li>
                <li><a [routerLink]="['app-transactions']" data-target-id="library"><i class="fa fa-book fa-fw"></i>Transactions</a></li>
                <li><a [routerLink]="['app-alexa']" data-target-id="applications"><i class="fa fa-pencil fa-fw"></i>Alexa</a></li>
                <li><a [routerLink]="['app-deactive']" data-target-id="settings"><i class="fa fa-cogs fa-fw"></i>Deactive</a></li>
            </ul>
        </div>
        <div class="admin-content" id="home">
            <app-profile></app-profile>
        </div>
        <div class="admin-content" id="widgets">
            <!-- Widgets -->
            <app-password></app-password>
        </div>
        <div class="admin-content" id="pages">
                <app-notifications></app-notifications>
        </div>
        <div class="admin-content" id="charts">
            <app-billing-info></app-billing-info>
        </div>
        <div class="admin-content" id="table">
                <app-gift-cards></app-gift-cards>
        </div>
        <div class="admin-content" id="forms">
                <app-cancel-task></app-cancel-task>
        </div>
        <div class="admin-content" id="calender">
                <app-account-balance></app-account-balance>
        </div>
        <div class="admin-content" id="library">
                <app-transactions></app-transactions>
        </div>
        <div class="admin-content" id="applications">
                <app-alexa></app-alexa>
        </div>
        <div class="col-md-9 well admin-content" id="settings">
                <app-deactive></app-deactive>
        </div>
    </div>
</div>

<!-- <div class="container">
<router-outlet></router-outlet>
</div> -->