<div class="container">
	<h2>
		Notifications
	</h2>
	<hr>
	<table style="width : 60%" class="table">
		<thead>
			<tr>
				<!-- <th scope="col">#</th> -->
				<th scope="col">Form of Communication</th>
				<th scope="col">Email</th>
				<th scope="col">SMS</th>
				<th scope="col">Push Notification</th>
			</tr>
		</thead>
		<tbody class='table borderless'>
			<tr>

				<td>Task Updates</td>
				<td>
					<div class="checkbox disabled">
						<label><input type="checkbox" value="" disabled></label>
					</div>


				</td>
				<td>
					<div class="checkbox">
						<label><input type="checkbox" value=""></label>
					</div>
				</td>
				<td>
					<div class="checkbox disabled">
						<label><input type="checkbox" value="" disabled></label>
					</div>
				</td>
			</tr>
			<tr>

				<td>Task Ideas and Offers</td>
				<td><a href="" style="color:green">Manage</a></td>
				<td>
					<div class="checkbox">
						<label><input type="checkbox" value=""></label>
					</div>
				</td>
				<td>
					<div class="checkbox">
						<label><input type="checkbox" value=""></label>
					</div>
				</td>
			</tr>

		</tbody>
	</table>
	<div>
		<button style="height: 40px;width: 17%;" type="button" class="btn btn-default">Cancel</button>
		<span style="margin-right:10px"></span>
		<button style="height: 40px;width: 17%;" type="button" class="btn btn-success">Save</button>
	</div>
</div>